.navbar-custom-menu-left {
    float: left !important;
}

.navbar-custom-menu-left>.navbar-nav>li>.dropdown-menu {
    right: auto !important;
}

.navbar-nav>.messages-menu>.dropdown-menu {
    width: auto !important;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu {
    max-height: inherit !important;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a {
    color: #444444 !important;
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    border: 1px solid #ddd !important;
}